body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: dodgerblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App,
#wrapper {
  background-color: white;
  border-radius: 25px;
  flex-direction: column;
  padding: 20px 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 250px;
  margin-right: 250px;
}

header {
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  width: 50px;
  height: 40px;
  margin: 5px 20px 0 0;
}

img:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  width: 90%;
  margin: auto;
}

p {
  display: inline-block;
  color: whitesmoke;
  margin-right: 5px;
  font-size: 1.3rem;
  /* font-family: monospace; */
}

li {
  background-color: dodgerblue;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: 550px;
  margin-right: 50px;
}

.window-close {
  margin-left: 30px;
  color: red;
  background-color: white;
}

li:hover {
  background-color: gray;
}

form {
  width: 90%;
  margin-left: 30px;
  text-align: center;
}

.login-form-input {
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 10px;
  /* background: dodgerblue; */
  font-weight: 400;
  letter-spacing: 0.02rem;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.add-contact-btn {
  box-shadow: none;
  outline: none;
  border: none;
  margin: 10px;
  height: 40px;
  color: rgb(2, 2, 2);
  background-color: dodgerblue;
  border-radius: 10px;
  font-size: large;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
}

.list-btn {
  height: 25px;
  width: 25px;
}

.name-container,
.phone-container {
  width: 40%;
  text-align: center;
}

.btns-container {
  width: 20%;
}

.list-btn-submit {
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: #82e953;
  text-decoration: none;
  color: #000203;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-btn-edit {
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: white;
  text-decoration: none;
  color: #000203;
  padding-left: 21px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-btn-delete {
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: #e55465d1;
  text-decoration: none;
  color: #000203;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}
